%h1 Wordnik API Terms of Service Agreement

%h2 PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS API

%p
  By accessing and using the Wordnik API (the “API TOS”) you agree that you are authorized 
  to accept the terms set forth below (the “API Terms of Use” or “API TOS”) on behalf of yourself 
  and your company (“You”), and You explicitly agree to comply with and be bound by the API Terms of Use.
  Wordnik reserves the right, at its sole discretion, to change, modify, update, add, or remove portions 
  of the API Terms of Use at any time, with or without notice to You.  Please review these terms and 
  conditions periodically and check the version date for changes.  Your continued use of the API TOS 
  after the posting of any changes to the API Terms of Service Agreement will signify Your acceptance 
  of those changes.
  
%p
  The Wordnik API is a service that allows pre-approved Wordnik licensees to use the Wordnik APIs to 
  retrieve certain data regarding words including without limitation looking up the meaning of words 
  (“Wordnik Data”) to enable You to provide related services on Your website.  Wordnik reserves the 
  right to modify or discontinue Your access to the Wordnik APIs or Wordnik Data, or a portion or 
  feature thereof, or the offering of any information, good, content, product or service with or without 
  notice to You.  Wordnik shall not be liable to You or any third party should Wordnik exercise its right 
  to modify or discontinue Your access to the Wordnik APIs or Wordnik Data or any part of it.  

%h2 1. YOUR USE OF THE WORDNIK APIs

%p
  You are granted a limited, non-sublicensable right to access the Wordnik APIs and use the Wordnik 
  Data for your non-commercial and informational use on Your website (“Your Site”) only in accordance 
  with the terms of this Agreement, and any terms of service, documentation and specifications, or 
  privacy policies provided to you by Wordnik from time to time.  Wordnik may monitor Your use of the 
  Wordnik APIs and Wordnik Data to ensure quality, improve Wordnik products and services, and verify 
  your compliance with these terms.  You shall not interfere with such monitoring or otherwise obscure 
  from Wordnik Your use of the Wordnik APIs and Wordnik Data.  The license granted to You in this Section 
  1 is subject to the condition that You adhere to the Wordnik Attribution Requirements below and subject 
  to change or modification by Wordnik in its sole discretion if Wordnik Data is served from Your Site.  
  
%h2 2. PROHIBITIONS  

%p
  You will not:

%ul.no-bullets
  %li
    (a)  Interfere or attempt to interfere in any manner with the workings of the Wordnik API or the 
    Wordnik servers, including without limitation making any additions or alterations to the Wordnik 
    API or the results it returns;
  %li
    (b)  Sell, lease, lend, convey, redistribute or sublicense to any third party all or any portion 
    of the Wordnik API;
  %li
    (c)  Use the Wordnik API for commercial uses (i.e., charging end users for access to or selling the 
    Wordnik Data to third parties as a separate service); 
  %li
    (d)  Modify or replace the text, images, or other content of the Wordnik search results including without 
    limitation altering any attributions associated with the content;
  %li  
    (e)  Cache, record, pre-fetch or otherwise make or store local copies of the Wordnik content or Wordnik Data, 
    including without limitation making calls for the purpose of creating, or actually creating, an independent 
    store of the Wordnik Data.  Notwithstanding the foregoing You may employ session-based caching (i.e., 
    transient processing) of Wordnik Data as formatted for end user display (i.e., no caching of raw responses) 
    solely for the purpose of displaying the Wordnik Data on Your Site in accordance with this Agreement;
  %li
    (f)  Share access keys or provide direct access to the Wordnik API to end users or proxy requests for others;
  %li
    (g)  Modify or delete any proprietary notices affiliated with the APIs or other materials Wordnik may provide You;
  %li
    (h)  Use the Wordnik API, Wordnik Data or Wordnik Marks in any way, or to make available any content, 
    that is unlawful, harmful, abusive, harassing, defamatory, libelous, invasive of another’s privacy, or 
    harmful to minors in any way.  
    
%h2 3.  USAGES AND QUOTAS

%p
  Wordnik may in its sole discretion set a quota of operations on Your Wordnik API usage, which Wordnik may 
  change at any time with or without notice to You.  You are limited to 5,000 calls per hour.  Wordnik may 
  approve higher daily call limits with or without associated charges if You adhere to these API Terms of Use 
  and pass a Wordnik review.  You shall not attempt to circumvent automated use-quota restrictions.

%h2  4.  ATTRIBUTION REQUIREMENTS

%p 
  As consideration for allowing You access to the Wordnik API and Wordnik Data, You agree to adhere to the 
  Attribution Requirements set forth at Exhibit A hereto (Attribution Requirements) and any subsequent modifications 
  thereto. You agree that any and all modifications to the Attribution Requirements shall be effective upon the earlier 
  of Wordnik notifying You in writing via email or 30 days after being posted. Subject to the terms and conditions of 
  this Agreement, Wordnik hereby grants You, a non-exclusive, revocable, non-sublicensable, non-transferable license 
  to use Wordnik’s designated trademarks and logos (“Wordnik Marks”), solely as necessary to perform the attribution requirements 
  authorized herein during the term of this Agreement.  Any rights not expressly licensed herein are reserved by Wordnik, 
  and all use by You of Wordnik’s Marks, (including all goodwill associated therewith), shall be on behalf of and accrue 
  to the benefit of Wordnik.  Upon termination of this Agreement, You shall immediately cease to use all Wordnik Marks.

%h2 5.  OWNERSHIP

%p
  As between You and Wordnik, Wordnik owns all rights, title and interest including without limitation all 
  intellectual property rights, in and to, the (i) APIs, and all elements, components, and executables of the 
  APIs; (ii) the Wordnik Data and all content available from the APIs, (iii) the Wordnik websites; and (iv) 
  the Wordnik Marks (collectively the “Wordnik Materials”).  Except for the express licenses granted hereunder, 
  Wordnik does not grant you any right, title or interest in the Wordnik Materials.  You agree to take such 
  actions, including, without limitation, execution of affidavits or other documents, as Wordnik may reasonably 
  request to effect, perfect or confirm Wordnik’s rights to the Wordnik Materials.
  
%h2 6.  PARTNER NAME AND LOGO

%p
  You grant us a non-exclusive license during the term of this Agreement to use Your name and Your logo if 
  You provide it to Wordnik on Wordnik’s partner pages, press releases and other relevant material.
  
%h2 7.  WARRANTIES; DISCLAIMER  

%ul.no-bullets
  %li
    7.1  
    %strong Your Warranty.  
    You represent and warrant that (a) You have the power, capacity and authority to 
    enter into and perform this Agreement and that this Agreement does not violate or conflict with any 
    agreement to which You are a party, (b) You will comply with all applicable laws, rules, regulations, 
    Wordnik policies, materials and guidelines provided to You by Wordnik in Your performance of this 
    Agreement, and (c) that Your interface with the Wordnik APIs and use of the Wordnik Data will not 
    infringe any intellectual property rights of any third party.
  %li
    7.2.  
    %strong WARRANTY DISCLAIMER.  
    Wordnik does not make any warranty regarding the Wordnik APIs, including 
    but not limited to their performance, functionality, quality or availability.  WORDNIK EXPRESSLY DISCLAIMS 
    ALL REPRESENTATIONS AND WARRANTIES OF ANY KIND RELATING TO THE SUBJECT OF THIS AGREEMENT AND ANY CONTENT OR 
    MATERIALS PROVIDED HEREUNDER, INCLUDING WITHOUT LIMITATION THE WORDNIK APIs, WORDNIK DATA AND WORDNIK SITE, 
    WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS 
    FOR A PARTICULAR PURPOSE, NONINFRINGEMENT, AVAILABILITY AND TITLE.  IN ADDITION, WORDNIK MAKES NO REPRESENTATION 
    THAT THE OPERATION OF ITS SITES OR THE WORDNIK API WILL BE UNINTERRUPTED OR ERROR-FREE, AND SHALL NOT BE LIABLE 
    FOR THE CONSEQUENCES OF ANY INTERRUPTIONS OR ERRORS. ALL MATERIALS ARE PROVIDED “AS IS” WITH ALL FAULTS, AND THE 
    ENTIRE RISK AS TO SATISFACTORY QUALITY AND RESULTS IS WITH YOU.  YOU ACKNOWLEDGE AND AGREE THAT YOU HAVE NOT 
    RELIED ON ANY ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY WORDNIK OR ANY OF ITS AGENTS OR EMPLOYEES.

%h2 8. INDEMNITY

%p
  You will defend, indemnify, and hold harmless Wordnik, and its respective affiliates, directors, employees, agents, 
  successors and assigns from all claims, actions, losses, liability, damages, costs, and expenses (including reasonable 
  attorney’s fees and expenses) (collectively “Claims”) arising from any breach of any of the representations and 
  warranties set forth in Section 7.  Wordnik will provide You with written notice of any Claim.
  
%h2 9. LIMITATION ON DAMAGES

%p 
  IN NO EVENT SHALL WORDNIK OR ITS OFFICERS, DIRECTORS, AGENTS, AFFILIATES, EMPLOYEES, PARTNERS, ADVERTISERS OR DATA 
  PROVIDERS BE LIABLE FOR ANY LOSS OF USE, LOSS OF DATA, INTERRUPTION OF BUSINESS, DOWNTIME, LOST PROFITS OR ANY INDIRECT, 
  SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY KIND REGARDLESS OF THE FORM OF ACTION WHETHER IN CONTRACT, TORT 
  (INCLUDING NEGLIGENCE), STRICT PRODUCT LIABILITY OR OTHERWISE, EVEN IF IT HAS BEEN ADVISED OF THE POSSIBILITY OF 
  SUCH DAMAGES.  THE PARTIES ACKNOWLEDGE AND AGREE THAT THIS SECTION IS AN ESSENTIAL ELEMENT OF THIS AGREEMENT AND 
  THAT IN ITS ABSENCE THE ECONOMIC TERMS OF THIS AGREEMENT WOULD BE SUBSTANTIALLY DIFFERENT.  SOME JURISDICTIONS DO 
  NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION 
  MAY NOT APPLY TO YOU.
  
%h2 10. TERMINATION

%ul.no-bullets
  %li
    10.1 
    %strong Termination; Suspension.  
    Wordnik may change, discontinue or terminate the Wordnik API and suspend Your 
    use of the Wordnik API, Wordnik Data, and/or Wordnik Marks at any time for any reason and without notice. You 
    may also terminate by ceasing to use the Wordnik APIs, Wordnik Data and Wordnik Marks and by complying with 
    the terms of Section 10.2 below.
  %li
    10.2.  
    %strong Effect of Termination.  
    Upon termination or expiration of this Agreement for any reason, You will 
    immediately cease all access, use, display, and performance of the Wordnik APIs, Wordnik Data, Wordnik Confidential 
    Information and any other materials or documentation provided by Wordnik, and will return or destroy all remaining 
    electronic and tangible copies of the APIs, Wordnik Data, Wordnik Confidential Information and any materials or 
    documentation.  The following Sections of these terms shall survive termination or expiration of this Agreement:  
    2 (“Prohibitions”), 5 (“Ownership”), 7.3 (“Warranty Disclaimer”), 8 (“Indemnity”), 9 (“Limitation on Damages”), 
    10.3 (“Effect of Termination”), and 11 (“General Provisions”).

%h2 11. GENERAL PROVISIONS

%ul.no-bullets
  %li
    11.1.  
    %strong Governing Law.  
    This Agreement shall be construed in accordance with the laws of the State of 
    California, without regard to its conflicts of laws principles.  Any legal action or proceeding arising 
    under this Agreement will be brought exclusively in the federal or state courts located in California and 
    the parties hereto irrevocably consent to the personal jurisdiction and venue therein.
  %li
    11.2.  
    %strong Severability.  
    If any term or provision of this Agreement is held to be invalid, void, unenforceable 
    or illegal by a court of competent jurisdiction, that provision of the Agreement will be enforced to the 
    maximum extent permissible, and the other provisions of this Agreement will remain in full force and effect 
    consistent with the original intent of the parties.
  %li
    11.3.  
    %strong Notice.   
    Any notices or other communications permitted or required hereunder, including those regarding 
    modifications to these Terms of Service, will be in writing and given: (i) by Wordnik via email (in each case to 
    the address that you provide) or (ii) by posting to the Site.  For notices made by e-mail, the date of receipt 
    will be deemed the date on which such notice is transmitted.
  %li
    11.4.  
    %strong Assignment.  
    You may not assign this Agreement, in whole or in part, to any third party. Wordnik may assign 
    this Agreement in whole or in part at any time without notice to You.  Subject to the foregoing, this Agreement will 
    be binding upon and inure to the benefit of the parties and their permitted assigns.   
  %li
    11.5.  
    %strong Entire Agreement and Waiver.  
    This Agreement contains entire agreement of the parties, and there are no other 
    promises or conditions in any other agreement whether oral or written concerning the subject matter of this Agreement.  
    This Agreement supersedes any prior written or oral agreements between the parties.  Any waiver by Wordnik of any default 
    or breach of any term or condition of this Agreement, whether such waiver be direct or implied, shall not be construed 
    to be a continuing waiver, or a waiver of or consent to any subsequent default or breach, on the part of Wordnik of the 
    same or of any other condition of this Agreement.
  %li
    11.6.  
    %strong Force Majeure.  
    Any delay in Wordnik’s performance of its duties or obligations will not be considered a breach 
    of this Agreement if such delay or failure is caused, in whole or in part, by an act of God, labor dispute, shortage of 
    materials, fire, explosion, earthquake, flood, act of war, riot or any other events, occurrences, or causes beyond the 
    control of Wordnik.
  %li
    11.7.  
    %strong Relationship of Parties.  
    You and Wordnik are independent contractors under this Agreement and nothing herein will be construed to create a 
    partnership, joint venture, or agency relationship between us.  Neither party has authority to enter into agreements of 
    any kind on behalf of the other.
  %li
    11.8.  
    %strong No Third Party Beneficiary.  
    You and Wordnik agree that the duties, obligations, and terms and conditions of this 
    Agreement are provided for the sole benefit of the parties hereto and are not rendered for the benefit of any other individual 
    or entity.  The parties do not wish to create any third party beneficiaries hereunder.
    
%h1 ATTACHMENT A

%h2 WORDNIK ATTRIBUTION REQUIREMENTS

%p
  These Attribution Requirements are incorporated into the Wordnik API Terms of Service Agreement between You and Wordnik 
  (the “Agreement”).  Please read the Attribution Requirements and Agreement carefully. By entering into the Agreement, 
  You agree to be bound by the terms and conditions contained in these Attribution Requirements and the Agreement.  
  
%ul.no-bullets
  %li
    1. 
    %strong No Changes to Attributions.  
    You may not, nor shall you allow anyone else to, remove or alter any attributions, copyright 
    notices, other means of identification, or disclaimers as they appear in the Wordnik Data. All dictionary text must be attributed 
    using the unaltered metadata text delivered with the definitions. (e.g., The American Heritage Dictionary of the English Language, 
    copyright © 2008, 2000 by Houghton Mifflin Harcourt Publishing Company.)  
  %li
    2.	
    %strong Wordnik Attributions.  
    If Wordnik Data is served from Your Site pursuant to this Agreement, You shall:
  %li
    Accompany all Wordnik Data with an approved "Powered by Wordnik" Logo and a link directly to www.wordnik.com/word/[specific word]. 
    Any of the "Powered by Wordnik" logos found at this link: 
    = link_to("http://www.wordnik.com/media-kit", "http://www.wordnik.com/media-kit") 
    are acceptable.  The logo may be used as the anchor for the link. Logos cannot be resized or edited in any fashion without 
    permission. If Wordnik Data is used in alternative media formats, equivalent attribution must be given to Wordnik. Prior written 
    consent from Wordnik is required to use Wordnik Data without attribution.
  
%p
  Questions? Comments? Suggestions? Please email us at
  = link_to("apiteam@wordnik.com", "mailto:apiteam@wordnik.com") + "."